/* Write your CSS here */
.latest-match-container {
  margin-top: 24px;
}

.latest-match-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
  display: block;
}

.latest-match-card {
  display: flex;
  flex-direction: row;
  background-color: #0f172a;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.latest-match-details-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding-left: 30px;
}

.latest-match-details-1 {
  width: 50%;
  align-self: flex-start;
}

.latest-match-team-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
}

.latest-match-date {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 25px;
}

.match-details {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
}

.latest-match-team-logo {
  width: 200px;
  height: 200px;
}

.latest-match-details-2 {
  text-align: right;
  width: 33%;
  padding-left: 0px;
  padding-right: 32px;
}

.latest-match-details-label {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
}

.latest-match-details-value {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
}
